.dark-theme {
  background-color: #202c37;
  color: #ffffff;
  fill: #ffffff;
}
.dark-theme nav,
.dark-theme input,
.dark-theme select,
.dark-theme .country__wrapper {
  background-color: #2b3945;
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8WAf5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB_5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8aBf5q.ttf) format('truetype');
}
* {
  font-family: 'Nunito Sans', sans-serif;
}
body {
  background-color: #202c37;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body span,
body strong {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: unset;
}
.dark {
  background-color: #202c37;
  color: #ffffff;
  fill: #ffffff;
}
.dark nav,
.dark input,
.dark select,
.dark .country__wrapper {
  background-color: #2b3945;
}
.light {
  background-color: #fafafa;
  color: #111517;
  fill: #111517;
}
.light #app svg {
  fill: #111517;
}
.light #app nav,
.light #app input,
.light #app select,
.light #app .country__wrapper,
.light #app button {
  background-color: #ffffff;
  color: #111517;
}
.light #app ::placeholder {
  color: #111517;
}
.light #app main .country__wrapper:hover .country__info-wrapper {
  background-color: unset;
}
.light #app .country__details-section .coutry__details {
  color: #111517;
}
nav {
  background-color: #2b3945;
  font-size: 14px;
  padding: 0 110px;
  color: #ffffff;
  box-shadow: 0 0 10px #00000033;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0 5px;
  }
}
nav .switch {
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}
nav .switch svg {
  aspect-ratio: 1/1;
  width: 20px;
  fill: #ffffff;
}
nav .switch button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.filter__section {
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .filter__section {
    flex-direction: column;
    row-gap: 25px;
  }
}
@media screen and (max-width: 575px) {
  .filter__section {
    padding: 0 80px;
    width: unset;
  }
}
.filter__section input {
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  color: #ffffff;
  padding: 15px 70px;
  background: url(../../public/src/searchIcon.svg) no-repeat left #2b3945;
  background-size: 20px 20px;
  background-position-x: 30px;
}
.filter__section ::placeholder {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
}
.filter__section select {
  width: 100%;
  max-width: 200px;
  background-color: #2b3945;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  outline: none;
  padding: 12.5px;
  border-radius: 10px;
}
main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
@media screen and (max-width: 1465px) {
  main {
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: center;
  }
}
main .country__wrapper {
  background-color: #2b3945;
  max-width: fit-content;
  margin: 30px 20px;
  box-shadow: 0 0 10px #00000033;
  color: #ffffff;
}
main .country__wrapper .country__img-wrapper {
  overflow: hidden;
  max-height: 175px;
}
main .country__wrapper .country__img-wrapper .country__img {
  object-fit: cover;
}
main .country__wrapper .country__info-wrapper {
  padding: 20px 20px 40px 20px;
}
main .country__wrapper .country__info-wrapper h1 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}
main .country__wrapper .country__info-wrapper h2 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 300;
}
main .country__wrapper .country__info-wrapper h2 span {
  font-weight: 600;
}
main .country__wrapper:hover {
  cursor: pointer;
}
main .country__wrapper:hover .country__info-wrapper {
  background-color: #3a4752;
  transition: background-color 0.05s ease-in-out;
}
.country__details-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}
@media screen and (max-width: 1240px) {
  .country__details-section {
    padding: 0 8.871vw;
  }
}
@media screen and (max-width: 535px) {
  .country__details-section {
    padding: 0 10px;
  }
}
.country__details-section .back__button {
  padding: 8px 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000033;
  border: none;
  outline: none;
  background-color: #2b3945;
  color: #ffffff;
  font-size: 15px;
  margin: 70px 0;
  cursor: pointer;
}
.country__details-section .country__details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
@media screen and (max-width: 1240px) {
  .country__details-section .country__details-wrapper {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 535px) {
  .country__details-section .country__details-wrapper {
    text-align: center;
  }
}
.country__details-section .country__details-wrapper .coutry__details {
  width: 50%;
}
.country__details-section .country__details-wrapper img {
  aspect-ratio: 2 / 1.5;
  min-width: 500px;
  box-shadow: 0 0 10px #00000033;
}
@media screen and (max-width: 535px) {
  .country__details-section .country__details-wrapper img {
    min-width: unset;
    width: 100%;
  }
}
.country__details-section .country__details-wrapper .country__name {
  margin-bottom: 30px;
}
.country__details-section .country__details-wrapper .details__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1240px) {
  .country__details-section .country__details-wrapper .details__wrapper {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 535px) {
  .country__details-section .country__details-wrapper .details__wrapper {
    text-align: center;
  }
}
.country__details-section .country__details-wrapper .details__wrapper h2 {
  font-size: 15px !important;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 300;
}
.country__details-section .country__details-wrapper .details__wrapper h2 span {
  font-weight: 600;
}
.country__details-section .country__details-wrapper .details__wrapper .details__r {
  margin-right: 80px;
  width: auto;
}
@media screen and (max-width: 1240px) {
  .country__details-section .country__details-wrapper .details__wrapper .details__r {
    margin: 0;
  }
}
@media screen and (max-width: 535px) {
  .country__details-section .country__details-wrapper .details__wrapper .details__r {
    margin: 0;
    text-align: center;
  }
}
.country__details-section .country__details-wrapper .details__b {
  margin-top: 50px;
}
.country__details-section .country__details-wrapper .details__b span {
  margin-right: 15px;
}
.country__details-section .country__details-wrapper .details__b .borders__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1240px) {
  .country__details-section .country__details-wrapper .details__b .borders__wrapper {
    justify-content: center;
  }
}
.country__details-section .country__details-wrapper .details__b .borders__wrapper button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #2b3945;
  color: #ffffff;
  padding: 5px 15px;
  margin-left: 15px;
}
@media screen and (max-width: 860px) {
  .country__details-section .country__details-wrapper .details__b .borders__wrapper {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
  .country__details-section .country__details-wrapper .details__b .borders__wrapper span {
    text-align: center;
    margin: 0;
  }
  .country__details-section .country__details-wrapper .details__b .borders__wrapper button {
    margin-left: 0;
    max-width: 70px;
  }
}
